extends layout

block content
   div(ng-view)

   script(src="/javascripts/dependencies/jquery.js")
   script(src="/javascripts/dependencies/bootstrap.js")

   script(src="/javascripts/dependencies/angular.js")
   script(src="/javascripts/dependencies/angular-route.js")
   script(src="/javascripts/dependencies/Chart.js")
   script(src="/javascripts/dependencies/angular-chart.js")
   script(src="/javascripts/app.js")

   script(src="/javascripts/controllers/MetricsCtrl.js")
